
html, body {
    overflow: hidden;
    background-color: black;
    height: 100%;
    margin: 0;
}

#circle {
    width: 90%;
    height: 90%;
    padding: 5%;
}

.fillElement {
    width: 100%;
    height: 100%;
}

.centerParent {
  position: relative;
}

.center {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

#demon {
    
}