
html, body {
    overflow: hidden;
    background-color: black;
    height: 100%;
    margin: 0;
}

#circle {
    width: 90%;
    height: 90%;
    padding: 5%;
}

.fillElement {
    width: 100%;
    height: 100%;
}

.centerParent {
  position: relative;
}

.center {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

#demon {
    z-index: 100;
    display: none;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
    cursor:default
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
.bottomSize {
    height: 15%;
    font-size: 18px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .bottomSize {
        height: 100%;
        font-size: 30px;
    }
}

/* Medium devices (desktops, 992px and up) 
@media (min-width: @screen-md-min) { 
    height: 100%;

}
*/
/* Large devices (large desktops, 1200px and up) 
@media (min-width: @screen-lg-min) { 
    height: 100%;

}*/

#clickCounter {
    position: absolute;
    top:5px;
    left: 5px;
}